// Text-color
$c1-black: #000000;
$c2-gray: #cbc9c9;
$c3-brown: #d46662;
$c4-green: #1ed90e;
$c5-black: #1e1d1d;
$c6-red: #fc0303;
$c7-white: #fffcfc;

//Color
$color1: #d9d9d9;
$color2: #fdd835;

// background- color

$c1-bg-dark: #000000;
$c2-bg-yellow: #e1b067;
$c3-bg-gray: #dedddc;
$c4-bg-light-gray: #f8f8f8;
$c5-bg-light-yellow: #eda540;
$c5-bg-dark-yellow: #fbc02d;

$c6-bg-dark-gray: #cccccc;
$c7-bg-gradient: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
$c8-bg-gradient: linear-gradient(
  270deg,
  rgba(62, 32, 248, 0.9) 5.14%,
  #d017ee 89.71%
);

//Font-size
$text-x-small: 16px;
$text-small: 18px;
$text-medium: 20px;
$text-big: 24px;
$text-bigger: 30px;
$text-xl: 40px;

// Font-weight
$text-thin: 300;
$text-light: 400;
$text-regular: 500;
$text-semiBold: 700;
$text-bold: 900;


//Admin variable
//Admin color
$admin-color-primary: #F2D388;
$admin-color-secondary: #f2f3f7;
$admin-color-text: #6f3434
//Admin background